<!-- <div class="sidebar">
    <ul class="menu">
      <li class="menu-item">
        <i class="lucide lucide-layout-dashboard"></i>
        <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="menu-item">
        <i class="lucide lucide-file-text"></i>
        <a routerLink="/pages" routerLinkActive="active">Pages</a>
      </li>
      <li class="menu-item">
        <i class="lucide lucide-settings"></i>
        <a routerLink="/settings" routerLinkActive="active">Settings</a>
      </li>
      <li class="menu-item">
        <i class="lucide lucide-mail"></i>
        <a routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
      </li>
      <li class="menu-item">
        <i class="lucide lucide-check-square"></i>
        <a routerLink="/tasks" routerLinkActive="active">Tasks</a>
      </li>
    </ul>
  </div>
   -->